@charset "UTF-8";

:root {
  --link-color: #349bf4;
  --main-color: #dd1b57;
  --text-color: #333;
}


/* -------------------------
   全体
----------------------------*/
body {
  font-family: "Roboto", "Noto Sans JP", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Mairyo, sans-serif;
  font-size: 16px;
  color: var(--text-color);
}

a {
  color: var(--link-color);
  text-decoration: underline;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

/* -------------------------
  レイアウト
----------------------------*/
.wrapper {
  overflow-x: hidden;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 30px;
}

.content {
  display: grid;
  padding: 60px 0 100px;
  row-gap: 80px;
}

/* -------------------------
  見出し
----------------------------*/
.heading-primary {
  font-size: 40px;
  font-weight: bold;
  line-height: 1;
  letter-spacing: 0.05em;
  color: var(--main-color);
}

/* -------------------------
  ヘッダー
----------------------------*/
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px;
  padding: 30px 70px;
}
.header__logo {
  line-height: 1;
}

/* -------------------------
  グローバルナビ
----------------------------*/
.gnav__list {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  column-gap: 30px;
}

.gnav__item {
  font-size: 16px;
  font-weight: bold;
  line-height: 1;
  letter-spacing: 0.05em;
}
.gnav__link {
  color: var(--text-color);
  text-decoration: none;
}
.gnav__link:hover {
  color: var(--main-color);

}